.flag{
    width: 250px;
    height: 150px;
}

body{
    background-color: rgb(226, 226, 224);
}
.flag-container{
    background-color: rgb(158, 155, 155);
    width: 250px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.25);
-webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.25);
}
.details{
    padding: 15px;
}

@media (min-width:400px){
    section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:800px){
    section{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
